@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1B1B1B;
  --foreground: #F8FAFC;
  --primary: #F1F1F1;
  --primary_foreground: #505050;
  --secondary: #F0F0FF;
  --secondary_foreground: #171717;
  --muted: #646464;
  --muted_foreground: #DBDCDD;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Quicksand", "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}